.main-services {
	background-color: #fff;
	margin: 0;
	h3 {
		color: #111e6c !important;
	}
	p {
		color: #000 !important;
	}
	.read-more-btn {
		padding: 12px 25px;
		border-radius: 5px;
		margin-top: 6px;
		color: #fff;
		background: #d5ac63;
		display: inline-block;
	}
}
