
body{
    overflow-x: hidden;
}
.main-header{
    width: 100%;
    z-index: 99;
    background: #003767;
    padding: em(20) 0;
    nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
        ul{
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style-type: none;
            li{
                margin-right: em(50);
                &:last-child{
                    margin-right: 0;
                }
            }
            a{
                color: $white;
                font-size: em(18);
                font-weight: 900;
            }
        }
    }
}
.main-logo{
    width: em(300);
    img{
        width: 100%;
        height: em(50);
        object-fit: cover;
    }
}
.home-page-banner{
    background-image: url('../assets/images/banner-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: em(900);
    display: flex;
    align-items: flex-end;
    .cricket-img{
        width: em(700);
    }
    h2{
        font-size: em(45);
        color: $white;
        font-weight: bold;
    }
    h1{
        font-size: em(90);
        color: $white;
        font-weight: bold;
    }
    a{
        padding: em(15) em(35);
        font-size: em(25);
        color: $white !important;
        background-color:#133290;
        border-radius: em(45);
    }
}
.schedule-section{
    padding-top: em(100);
    background: #011c6d;
    img{
        height: em(870);
        width: 100%;
    }
}
.about-section{
    background-color: #fff;
    padding: em(120) 0 em(90);
    h2{
        font-size: em(45);
        font-weight: 900;
        text-align: center;
    }
    .about-sub-head{
        margin: em(55) 0 em(65);
        font-size: em(18);
        color: #9a9a9a;
        text-align: center;
    }
    .about-card{
        img{
            width: em(100);
            height: em(100);
            margin: 0 auto;
            display: block;
            margin-bottom: em(20);
        }
        h3{
            font-size: em(25);
            text-align: center;
            font-weight: 900;
            margin-bottom: em(15);
        }
        p{
            font-size: em(17);
            text-align: center;
            font-weight: 900;
            color: #9a9a9a;
        }
    }
}
.main-footer{
    background-color: #051344;
    padding: em(25) 0;
    .main-footer-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footer-logo{
            width: em(200);
            img{
                width: 100%;
            }
        }
        .copy-text{
            color: $white;
            font-size: em(24);
            font-weight: 900;
            letter-spacing: 1.2;
            margin: 0;
        }
    }
}
.home-slider{
    img{
        height: em(600);
        margin: 0 auto;
    }
    .container-fluid{
        padding: 0;
    }
    .slick-dots {
        bottom: 50%;
        width: auto;
        li {
            display: block;
            margin-bottom: em(20);
            button{
                &:before{
                    font-size: 16px;
                    opacity: 0.5;
                    color: #fff;
                }
            }
            &.slick-active {
                button{
                    &:before {
                        opacity: 1;
                        color: #1272ff;
                    }
                }
            }
        }
    }
    .slides{
        position: relative;
        background: #020E48;
        &::before{
            content: '';
            height: 100%;
            width: em(305);
            filter: blur(50px);
            position: absolute;
            left: 0;
            top: 0;
            
        }
    }
    .slide-content{
        position: absolute;
        width: em(450);
        top:50%;
        transform: translateY(-50%);
        left:em(380);
        h2{
            color: #fff;
            font-size: em(50);
        }
        p{
            color: #fff;
            font-size: em(25);
        }
        a{
            margin-top: em(10);
            background-color: #4594e1;
            border-radius: 5px;
            color: #fff !important;
            padding: em(15) em(30);
            display: inline-block;
        }
    }
}
.latest-news{
    position: relative;
    border-bottom: 1px solid #fff;
    marquee{
        background-color: #051344;
        color: #fff;
        height: 100%;
        display: block;
        padding: em(10) 0;
    }
    .news-label{
        position: absolute;
        left: 0;
        top: 0;
        background-color: #000;
        padding: 0 em(30);
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 99;
        span{
            color: #fff;
        }
    }
}

// Laptops large devices (desktops, 1600px and up)
@media (min-width: 1600px) and (max-width: 1699.98px) { }

// Laptops large devices (desktops, 1400px and up)
@media (min-width: 1400px) and (max-width: 1599.98px) {}

// Laptops small devices (desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399.98px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .home-page-banner{
        height: em(570);
        a{
            font-size: em(18);
            margin-top: em(5);
            display: inline-block;
        }
    }
    .home-slider {
        .slide-content{
            left: em(85);
        }
    }
    .home-page-banner{ 
        h2{
            font-size: em(40);
        }
        h1{
            font-size: em(42);
        }
    }
    .my-collapsible{
        width: 100%;
    }
    .nav-menu-btn{
        width: em(20);
        height: em(20);
        padding: 0 !important;
        background-color: transparent !important;
        position: absolute;
        right: em(5);
        top: em(-25);
        margin-top: 0 !important;
        span{
            height: 100%;
            width: em(1);
            background: #fff;
            margin-right: em(2);
            display: inline-block;
        }
    }
    .my-collapsible{
        position: relative;
    }
    .main-header {
        nav {
            flex-direction: column;
            align-items: flex-start;
            ul {
                flex-direction: column;
                li{
                    margin-right: 0;
                    text-align: center;
                    width: 100%;
                    border-bottom: 1px solid #fff;
                    padding-bottom: 5px;
                    margin-bottom: 5px;
                }
            }
        }
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .home-slider {
        .slide-content{
            left: em(85);
            width: em(300);
            h2{
                font-size: em(35);
            }
            p{
                font-size: em(28);
            }
        }
    }
    .home-page-banner{
        height: auto;
        padding: em(50) 0;
    }
    .my-collapsible{
        width: 100%;
    }
    .nav-menu-btn{
        width: em(20);
        height: em(20);
        padding: 0 !important;
        background-color: transparent !important;
        position: absolute;
        right: em(5);
        top: em(-25);
        margin-top: 0 !important;
        span{
            height: 100%;
            width: em(1);
            background: #fff;
            margin-right: em(2);
            display: inline-block;
        }
    }
    .my-collapsible{
        position: relative;
    }
    .main-header {
        nav {
            flex-direction: column;
            align-items: flex-start;
            ul {
                flex-direction: column;
                li{
                    margin-right: 0;
                    text-align: center;
                    width: 100%;
                    border-bottom: 1px solid #fff;
                    padding-bottom: 5px;
                    margin-bottom: 5px;
                }
            }
        }
    }
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .home-slider {
        .slick-dots{
            bottom: 35%;
        }
        img{
            height: auto;
        }
        .slide-content{
            left: em(45);
            h2{
                font-size: em(25);
            }
            p{
                font-size: em(16);
            }
            a{
                padding: em(10) em(5);
            }
        }
    }
    .about-section {
        padding: em(35) 0 em(36);
        h2{
            font-size: em(20);
        }
    }
    .home-page-banner{ 
        height: auto;
        padding: em(50) em(30);
        a{
            margin-top: em(20);
            font-size: em(15);
            display: inline-block;
        }
        h2{
            font-size: em(24);
        }
        h1{
            font-size: em(22);
        }
    }
    .main-footer{ 
        .main-footer-wrap{
            flex-direction: column;
        }
    }
    .main-logo {
        img{
            width: auto;
            height: em(35);
        }
    }
    .main-header {
        nav {
            flex-direction: column;
            align-items: flex-start;
            ul {
                flex-direction: column;
                li{
                    margin-right: 0;
                    text-align: center;
                    width: 100%;
                    border-bottom: 1px solid #fff;
                    padding-bottom: 5px;
                    margin-bottom: 5px;
                }
            }
        }
    }
    .my-collapsible{
        width: 100%;
    }
    .nav-menu-btn{
        width: em(20);
        height: em(20);
        padding: 0 !important;
        background-color: transparent !important;
        position: absolute;
        right: em(5);
        top: em(-20);
        margin-top: 0 !important;
        span{
            height: 100%;
            width: em(1);
            background: #fff;
            margin-right: em(2);
            display: inline-block;
        }
    }
    .my-collapsible{
        position: relative;
    }
 }

