<!---->


<!DOCTYPE html>
<html>

<head>
  <base href="/">
  <!-- Basic -->
  <meta charset="UTF-8">
  <title>b-calm | we are here !</title>
  <meta name="keywords" content="b-calm | we are here !" />
  <meta name="description" content="Pakistan local service directory">
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <!-- Web Fonts  -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <!--<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">-->
  <!-- jQuery library required by bootsrap js -->
</head>

<body class="base">

  <section id="app">

  </section>


</body>

</html>